// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';


#proposition-name {
  font-family: 'NotoSans', arial, sans-serif !important;
}

.dwplogo {
  margin-top: 4px !important;
  font-size: 30px !important;
  background: none !important;
}

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.mark {
  border:1px solid $grey-3;
  padding:10px;
}

@media (min-width: 641px)
{
  .form-control { width: 100%; }
}

input[readonly]
{
  border-color:$grey-3;
}

.human {
  border-top:1px solid $grey-3;
  padding-top:10px;
  margin-bottom:20px;
}
.human__head {
  position:relative;
  padding-top:1.5em;
  .human__user {
    position:absolute;
    top:0;left:0;
    font-weight:700;
  }
  .human__updated {
    position:absolute;
    top:0;right:0;
    color:$grey-1;
    font-size:14px;
  }
  .human__tags {
    float:left;
  }
}

.human__edit {
  a.button {
    float:right;
    padding:3px 10px 0px;
    font-size:16;
  }
}

a.tag {
  display:inline-block;
  color:black;
  text-decoration:none;
  padding:6px 10px 3px;
  font-size:14px;
  // font-weight:700;
  // color:white;
  &:hover {
    background-color:$govuk-blue !important;
    color:white;
  }
}

a.global__tag {
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content: space-between;
  span.tag {
    align-self: center;
  }
  span.count {
    align-self: center;
  }
}

a.edit__tag {
  display:inline-block;
  span.count {
    display:inline-block;
    margin-left:5px;
  }
}

a.global__tag, a.edit__tag, {

  color:black;
  text-decoration:none;
  padding:5px 10px;
  margin-bottom:5px;

  &:hover {
    background-color:$govuk-blue !important;
    color:white;
    span.count { color:black; }
  }

  span.tag {
    padding-top:2px;
    text-overflow: ellipsis;
    overflow:hidden;
  }
  span.count {
    display:inline-block;
    box-sizing: border-box;
    background-color:white;
    width:20px;
    height:20px;
    margin-left:1em;
    text-align:center;
    border-radius:50%;
    font-size:12px;
    font-weight:700;
    padding-top:3px;
  }

  .all_tags & {
    display:inline-block;
  }
}

.tag {
  .purple { background-color:$purple; }
  .pink { background-color:$pink; }
  .mellow-red { background-color:$mellow-red; }
  .yellow { background-color:$yellow; }
  .turquoise { background-color:$turquoise; }
  .mauve { background-color:$mauve; }
  .baby-pink { background-color:$baby-pink; }
  .orange { background-color:$orange; }
  .orange { background-color:$orange; }
  .green { background-color:$green; }
  .light-blue { background-color:$light-blue; }
  .fuschia { background-color:$fuschia; }
  .red { background-color:$red; }
  .brown { background-color:$brown; }
  .grass-green { background-color:$grass-green; }
  .govuk-blue { background-color:$govuk-blue; }
}

.logged_in {
  float:right;
  padding-top:5px;
  a { color:white; text-decoration:none;}
  a:hover {
    color:$yellow;
    text-decoration:underline;
  }
}

.button--blue {
  &:link,&:visited {
    background-color:$govuk-blue;
    border-color:purple;
  }
  &:hover,&:active,&:focus {
    background-color:darken($govuk-blue,5);
  }
}

.button--red {

  background-color:$mellow-red;
  border-color:darken($mellow-red,10);

  &:link,&:visited {
    background-color:$mellow-red;
    border-color:darken($mellow-red,10);
  }
  &:hover,&:active,&:focus {
    background-color:darken($mellow-red,5);
  }
}

.index-table {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
  thead th {line-height:0;height:0;overflow:hidden;}
  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top:10px;
  }

  .button { margin-bottom:5px; }
}

.tag__heading {
  display:block;
  margin:0;
  padding:0 20px 20px;
  &.bg-blue {
    background-color:darken($govuk-blue,10);
    color:white;
  }
  .sub {
    font-size:16px;
    margin:0px;
    padding:15px 0 5px;
    font-weight:normal;
  }
}

.icon {
  display:inline-block;
  position:relative;
  top:8px;
  margin:0 5px 0 30px
}

.font-normal { font-weight:normal}

.view-link {
  &:link,&:hover,&:active,&:focus,&:visited { color:black; }
  display:block;
  font-size:16px;
  text-decoration:none;
  padding:5px 10px 3px;
  &:hover,&:active {
    background-color:$yellow;
  }
  img { position:relative; top:-1px; vertical-align:middle; }
}

.link-block {
  display:block;
  padding:7px 10px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    background-color: $grey-3;
    color:$black;
  }
}
#global-header .header-wrapper .header-global .site-search {
    width: 49%;
    float: right
}
@media (min-width: 769px) {
    #global-header.with-proposition .header-wrapper .header-global .site-search {
        width: 33.33%
    }
}
@media screen and (max-width: 379px) {
    #global-header .header-wrapper .header-global .site-search {
        width: auto;
        float: none
    }
}
#global-header .header-wrapper .header-global .site-search .content {
    margin: 0 15px
}
#global-header.with-proposition #search {
    margin-top: -1px;
    margin-bottom:1px;
}
#global-header .search-toggle {
    display: none
}
@media screen and (max-width: 379px) {
    #global-header .search-toggle {
        display: block;
        float: right;
        height: 30px;
        width: 36px;
        padding: 0;
        margin: -32px 15px;
        overflow: hidden;
        text-indent: -5000px;
        background-color: #005ea5;
        background-image: url(https://assets.publishing.service.gov.uk/static/search-button-ca89b2a79f944909ceb7370d3f0b78811d32b96e883348fcd8886f63dd619585.png);
        background-repeat: no-repeat;
        background-position: 0 50%
    }
    body.search #global-header .search-toggle {
        display: none
    }
}
@media only screen and (max-width: 379px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (max-width: 379px) and (min--moz-device-pixel-ratio: 2),
only screen and (max-width: 379px) and (-o-min-device-pixel-ratio: 20 / 10),
only screen and (max-width: 379px) and (min-device-pixel-ratio: 2),
only screen and (max-width: 379px) and (min-resolution: 192dpi),
only screen and (max-width: 379px) and (min-resolution: 2dppx) {
    #global-header .search-toggle {
        background-size: 52.5px 35px;
        background-position: 100% 50%
    }
}
#global-header .search-toggle:hover {
    background-color: #004f8c
}
#global-header .search-toggle.js-hidden {
    display: none
}
#global-header form#search .content {
    position: relative;
    background: #fff
}
#global-header form#search label {
    float: left;
    min-height: 36px;
    line-height: 35px;
    text-indent: 15px;
    overflow: hidden;
    display: block;
    margin-right: 10px
}
.js-enabled #global-header form#search label {
    float: none;
    position: absolute;
    left: 0;
    top: 1px;
    z-index: 1;
    width: 100%;
    margin-right: 0
}
#global-header form#search input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 50%;
    min-width: 0;
    display: block;
    margin: 0;
    border: 0;
    min-height: 36px;
    padding: 6px 0;
    -webkit-appearance: none;
    -moz-appearance: none
}
#global-header form#search input#site-search-text {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.76923;
    position: relative;
    padding: 6px;
    z-index: 3;
    // background: transparent
}
@media (min-width: 641px) {
    #global-header form#search input#site-search-text {
        font-size: 16px;
        line-height: 1.4375
    }
}
#global-header form#search input#site-search-text.focus,
#global-header form#search input#site-search-text:focus {
    background: #fff
}
.js-enabled #global-header form#search input#site-search-text {
    width: 86%;
    width: -webkit-calc(100% - 37px);
    width: calc(100% - 37px)
}
#global-header form#search input.submit {
    position: absolute;
    z-index: 4;
    right: 0;
    top: 0;
    width: 36px;
    height: 36px;
    border: 1px solid $govuk-blue;
    border-width: 0 0 0 2px;
    border-left-color: #222;
    // -webkit-border-radius: 0;
    // -moz-border-radius: 0;
    // border-radius: 0;
    overflow: hidden;
    text-indent: -5000px;
    color: #fff;
    background-color: #005ea5;
    background-image: url(https://assets.publishing.service.gov.uk/static/search-button-ca89b2a79f944909ceb7370d3f0b78811d32b96e883348fcd8886f63dd619585.png);
    background-repeat: no-repeat;
    background-position: 0 50%
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 20 / 10),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    #global-header form#search input.submit {
        background-size: 52.5px 35px;
        background-position: 100% 50%
    }
}
#global-header form#search input.submit:hover {
    background-color: #004f8c
}
@media screen and (max-width: 379px) {
    #global-header form#search {
        display: none;
        width: 100%
    }
    #global-header form#search #site-search-text {
        width: 80%
    }
}
#global-header form#search.js-visible {
    display: block
}

@media (min-width: 769px) {
  #global-header.with-proposition .header-wrapper .header-global {
      float: left;
      width: 100%;
  }
}
