{% extends "layout.html" %}

{% block page_title %}
  {{ "Edit" if mark._id else "Add" }} - {{ super() }}
{% endblock %}

{% block content %}

{{ mark | log }}

<main id="content" role="main">

<form method="post" action="/api/marks/">

  <h1 class="heading-large" style="margin-top:20px;">{{ "Edit" if mark._id else "Add" }} Bookmark</h1>

  <div class="grid-row">
    <div class="column-third">

      <div class="form-group">
        <label for="url">URL</label><br />
        <input id="url" name="url" type="text" placeholder="http://..." class="form-control" value="{{ mark.url }}" {{ "readonly" if mark.url }} />
      </div>

      <div class="form-group">
        <label for="title">Title</label><br />
        <input id="title" name="title" type="text" class="form-control" value="{{ mark.title }}" />
      </div>

      {% if mark.tags.length %}
      <div class="form-group">
        <h3 class="heading-small">Already tagged with:</h3>
        <div>
        {% for tag, count in mark.tagCount %}
          <a href="/{{ tag }}/" class="edit__tag" style="background-color:{{ tag | tagToColour() }}"><span class="tag">{{ tag }}</span><span class="count">{{ count }}</span></a>
        {% endfor %}
        </div>
      </div>
      {% endif %}

    </div>
    <div class="column-two-thirds">

      <div class="form-group">
        <label for="desc">Your comment</label><br />
        <textarea id="desc" name="desc" rows="6" class="form-control">{{ mark.me.desc }}</textarea>
      </div>

      <div class="form-group">
        <label for="tags">Your tags</label><br />
        <input id="tags" name="tags" type="text" placeholder="" class="form-control" value="{{ mark.me.tags | default([]) | join(", ") }}"/>
      </div>

      <div class="form-group">
        <input id="user" name="user" type="hidden" value="{{cookie}}" />
        <p style="float:right"><a id="delete" class="button button--red" />Delete</a></p>
        <p><input type="submit" class="button" value="Continue" /></p>
      </div>


    </div>
  </div>
</form>

<form method="post" action="/delete/{{ mark._id }}/" class="delete">
  <div class="grid-row" style="margin-top:60px">
    <div class="column-third">
      &nbsp;
    </div><!-- column -->
    <div class="column-two-thirds">

    </div><!-- column -->
  </div><!-- row -->
</form>

</main>
{% endblock %}

{% block page_script %}
<script type="text/javascript">
  $(document).on('ready',function()
  {
    var tags = cleanTags($('#tags').val());

    function cleanTags(tags)
    {
      return _.without(_.uniq(tags.replace(/[^\w\-\s\,]+/g,'').split(/[,\s]+/g)),'');
    }

    $('#tags').on('keyup',function(e)
    {
      var val = $(this).val();
      tags = cleanTags(val);
      console.log(tags);
    });

    $('#tags').on('blur',function(e)
    {
      $(this).val(tags.join(', '));
    });

    $(".edit__tag").on('click',function(e)
    {
      e.preventDefault();
      var t = $(this).find('.tag').text();
      var s = $('#tags').val()+", "+t;
      tags = cleanTags(s);
      $('#tags').val(tags.join(', '));
    });

    $('#delete').on('click',function(e)
    {
      e.preventDefault();
      if (confirm("Arrrrrrrggh! This isn't undoable. Please be certain. Arrrrrgh! You migth destroy the world! People may be inconvenienced! If you're still reading this click cancel now. Honestly, this clearly wasn't what you meant. Love you. Bye!"))
      {
        $('form.delete').submit();
      } else {
        return false;
      }
    });
  });
</script>
{% endblock %}
