{% extends "layout.html" %}

{% block page_title %}
  {% if tags.length %}
      {{ tags | join('/') }}
  {% else %}
      Everything!
  {% endif %}
  - {{ super() }}
{% endblock %}


{% block content %}
<main id="content" role="main">
  {# <div class="grid-row">
    <div class="column-two-thirds"> #}

      {% if tags.length %}
          <h1 class="heading-xlarge tag__heading" style="background-color:{{ tags | join('/') | tagToColour() }}">{{ tags | join('/') }}</h1>
      {% else %}
          <h1 class="heading-xlarge tag__heading bg-blue">Everything!</h1>
      {% endif %}

      {% if bookmarks.length %}
      <table class="index-table">
        <thead>
          <tr>
            <th class="row-url">&nbsp;</th>
            <th class="row-date" width="100px">updated</th>
            <th class="row-edit" width="70px">&nbsp;</th>
            <th class="row-view" width="50px">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
        {% for item in bookmarks %}
          <tr>
            <td><a href="{{ item.url }}">{{ item.title }}</a></td>
            {# <td>
            {% for tag in item.tags %}
              <a class="tag" href="/tag/{{ tag }}" style="background-color:{{ tag | tagToColour() }};">{{ tag }}</a>
            {% endfor %}
            </td> #}
            <td style="font-size:14px; padding-top:14px;">{{ item.updated | formatDate("Do MMM YYYY") }}</td>
            <td style="text-align:center;"><a class="button" href="/edit/{{ item._id }}">edit</a></td>
            <td style="padding-right:0;text-align:right"><a class="button button--blue" href="/view/{{ item._id }}">view</a></td>
          </tr>


        {# <div class="mark form-group">
          <p><a href="{{ item.url }}">{{ item.title }}</a></p>
          <p>{{ item.desc }}</p>
          {% for tag in item.tags %}
            <span class="tag"><a href="/tag/{{ tag }}">{{ tag }}</a></span>&nbsp;
          {% endfor %}

        </div> #}
        {% endfor %}
        </tbody>
      </table>
      {% else %}
        <h3 class="font-medium" style="margin-top:30px;">No bookmarks for this combination of tags&hellip; yet! ;-)</h3>
      {% endif %}
    {# </div>
  </div> #}
</main>

{% endblock %}
