{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block page_title %}
  Marx - A place for bookmarks
{% endblock %}

{% block cookie_message %}
  <p>{{cookieText | safe }}</p>
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
  {% block page_script %}{% endblock %}
{% endblock %}

{# {% block logged_in %}
  <div class="logged_in">
    <a href="/logout/">{{ user }}</a>
  </div>
{% endblock %} #}

{% block footer_top %}
<a href="/logout/">logout</a>
| <a href="/add/">add</a>
| <a href="javascript:location.href='https://dwp-marx.herokuapp.com/add/?'+'url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title);" title="Marx">bookmarklet</a>
{% endblock %}
