{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-medium">Please tell me who you are.</h1>
      <p>This is just so I can track who's adding what and so you can add your own comments and tags to bookmarks without overriding the comments and tags of others.</p>
      <p>It's all a bit basic and based on trust, so please be trustworthy! :)</p>
      <form method="post" action="/login/">

        <div class="form-group">
          <label for="username">Pick your name</label><br />
          <select id="username" name="username" class="form-control">
            {% for item in users %}
                <option name="{{ item }}">{{ item }}</option>
            {% endfor %}
          </select>
        </div>

        <input type="submit" class="button" value="Continue" />

      </form>

    </div>
  </div>
</main>

{% endblock %}
