{% extends "layout.html" %}

{% block page_title %} All tags {% endblock %}

{% block content %}
<main id="content" role="main">
  {# <div class="grid-row">
    <div class="column-two-thirds">       #}
    <h1 class="heading-xlarge" style="margin-bottom:20px">All Tags</h1>
    <div class="all_tags">
      {% for item in tags %}
          {{ item | log }}
        <a href="/{{ item._id }}/" class="global__tag" style="background-color:{{ item._id | tagToColour() }}"><span class="tag">{{ item._id }}</span><span class="count">{{ item.count }}</span></a>
      {% endfor %}
    </div>
    {# </div><!-- column -->
  </div><!-- row --> #}
</main>
{% endblock %}
