{% extends "layout.html" %}

{% block page_title %}
  {{ mark.title }} - {{ super() }}
{% endblock %}

{% block content %}

{{ mark | log }}
{{ user | log }}

<main id="content" role="main">

  <h1 class="heading-large" style="margin-top:20px">{{ mark.title }}</h1>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p><a href="{{ mark.url }}">{{ mark.url }}</a></p>
      <p>{{ mark.desc }}</p>
      
      {% set edit_but = false %}

      {% for human in mark.humans %}
      <div class="human">
        <div class="human__head">
          <div class="human__updated">{{ human.updated | formatDate("Do MMMM YYYY") }}</div>
          <div class="human__user">{{ human.user }}</div>
        </div>
        <p class="human__desc">{{ human.desc }}</p>
        {% if user == human.user %}
            <p class="human__edit"><a class="button" href="/edit/{{ mark._id }}">edit</a></p>
            {% set edit_but = true %}
        {% endif %}
        <div class="human__tags">
        {% for tag in human.tags %}
          <a href="/{{ tag }}/" class="tag" style="background-color:{{ tag | tagToColour() }}">&nbsp;</a>
        {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="column-third">
      {% if not edit_but %}
        <p class="human__edit"><a class="button" href="/edit/{{ mark._id }}">edit</a></p>
      {% endif %}
      <div class="global_tags">
      {% for tag, count in mark.tagCount %}
        <a href="/{{ tag }}/" class="global__tag" style="background-color:{{ tag | tagToColour() }}"><span class="tag">{{ tag }}</span><span class="count">{{ count }}</span></a>
      {% endfor %}
      </div>
    </div><!-- column -->
  </div>
</main>

{% endblock %}
